</div>
<!-- Footer -->
<div class="container-fluid gradient-background" bis_skin_checked="1">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 border-top">
        <div class="col mb-3" bis_skin_checked="1">
            <img src="/images/logo.png" alt="" width="60" height="42" />
            <p class="">© 2024</p>
        </div>

        <div class="col mb-3" bis_skin_checked="1"></div>

        <div class="col mb-3" bis_skin_checked="1">
            <h5>Basics</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0 bs-light">About README</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Contact Us</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Powered by Open Library</a>
                </li>
            </ul>
        </div>

        <div class="col mb-3" bis_skin_checked="1">
            <h5>Community</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Guidelines</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Dicussions</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Leaderboard</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Contributions</a>
                </li>
            </ul>
        </div>

        <div class="col mb-3" bis_skin_checked="1">
            <h5>Legal</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Terms of use</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Privacy Policys</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</main>
<script
src="https://code.jquery.com/jquery-3.7.1.js"
integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
crossorigin="anonymous"
></script>
<script src="/js/main.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
crossorigin="anonymous"
></script>
</body>
</html>
